@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #ddd;
}

header {
    background-color: #4D41C0;
    color: #fff;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}